@font-face {
  font-family: TimesNewRomanBoldItalic;
  src: url("./fonts/TimesNewerRoman-BoldItalic.otf") format("opentype");
  font-display: swap;
}
.html,
body {
  font-size: 16px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05em;
}
.content__wrapper {
  max-width: 1185px;
  margin: 0 auto;
}
/* header */
.header {
  background: url("./img/header__bg.jpg"),
    linear-gradient(to top, #725a7c, #ffffff 20%) no-repeat;
  background-size: cover;
  padding: 20px 15px 240px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  line-height: 2.142;
  font-size: 0.875em;
  margin: 0 12.5px;
}
.header__toggle {
  font-size: 1.1em;
}
.header__middle {
  text-align: center;
  color: #ffffff;
}
.header__middle > p:first-of-type {
  font-family: TimesNewRomanBoldItalic;
  line-height: 0.8333;
  color: rgba(255, 255, 255, 0.7);
  margin: 265px 0 15px;
  font-size: 2.25em;
}
.header__middle > p:nth-of-type(2) {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 2.142;
}
.header__middle > h1 {
  font-size: 6.25em;
  line-height: 1;
  margin: 0;
  font-weight: 700;
}
.header__middle--btn {
  margin: 40px auto;
  border: 3px solid #ffffff;
  border-radius: 2px;
  max-width: 280px;
  font-size: 1.125em;
  line-height: 1.176;
  letter-spacing: 0.025em;
  font-weight: 700;
  padding: 20px;
  cursor: pointer;
}
.header__middle-link {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

/* list  */

.list {
  padding: 100px 15px 95px;
}
.list__wrapper {
  display: flex;
  justify-content: space-between;
}
.list__item {
  text-align: center;
  max-width: 365px;
}
.list__item:nth-of-type(2) {
  margin: 0 15px;
}
.list__item > h2 {
  font-size: 1.125em;
  margin: 10px 0 0;
  line-height: 1.875;
}
.list__item > p {
  font-weight: 300;
  line-height: 1.125;
  letter-spacing: 0.05em;
  margin: 15px 0 0;
}
.list__img {
  border: 2px #221f1f solid;
  border-radius: 50%;
  max-width: 110px;
  height: 110px;
  position: relative;
  margin: 0 auto;
}
.list__img > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.list__line {
  max-width: 90px;
  height: 1px;
  background: #f57365;
  margin: 0 auto;
}

/* app  */

.app {
  background: #f7f7f7;
  padding: 100px 20px 0;
}
.app__wrapper {
  display: flex;
  justify-content: space-between;
}
.app__text {
  max-width: 550px;
  padding-top: 80px;
}
.app__text > h2 {
  font-size: 1.125em;
  margin: 0;
  line-height: 1.875;
}
.app__text > p {
  font-weight: 300;
  margin: 0 0 30px;
}
.app__line {
  max-width: 90px;
  height: 1px;
  background: #f57365;
  margin-bottom: 15px;
}
.app__icon {
  display: inline-block;
  margin: 0 2.5px 30px;
}

/* cuisines  */
.cuisines {
  padding: 100px 0 0;
}
.cuisines__wrapper > h2 {
  font-size: 1.125em;
  margin: 0;
  line-height: 1.875;
  text-align: center;
}
.cuisines__line {
  max-width: 90px;
  height: 1px;
  background: #f57365;
  margin: 0 auto;
}
.cuisines__items {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto 0;
  max-width: 1920px;
  justify-content: center;
}
.cuisines__item {
  width: 20%;
  padding: 75px 0 89px;
  color: #ffffff;
  font-weight: 700;
  font-size: 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cuisines__item > span {
  font-family: TimesNewRomanBoldItalic;
  font-weight: 300;
  font-size: 1rem;
}
.cuisines__item > p {
  margin: 0;
  line-height: 1.1;
  font-size: 2.25rem;
}
.cuisines__item.cuisines__item--1 {
  background-image: url("./img/item1-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--2 {
  background-image: url("./img/item2-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--3 {
  background-image: url("./img/item3-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--4 {
  background-image: url("./img/item4-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--5 {
  background-image: url("./img/item5-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--6 {
  background-image: url("./img/item6-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--7 {
  background-image: url("./img/item7-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--8 {
  background-image: url("./img/item8-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--9 {
  background-image: url("./img/item9-img.jpg");
  cursor: pointer;
}
.cuisines__item.cuisines__item--10 {
  background-image: url("./img/item10-img.jpg");
  cursor: pointer;
}

/* counter  */
.counter {
  padding: 55px 15px;
}
.counter__wrapper {
  display: flex;
  justify-content: space-between;
}
.counter__wrapper > h3 {
  font-size: 2.25em;
  line-height: 0.833;
  text-align: center;
  margin: 0;
}
.counter__wrapper > h3 > span {
  font-size: 1rem;
  font-weight: 300;
  display: block;
  margin-top: 15px;
}

/* footer  */

.footer {
  background: #f7f7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 35px 15px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper > div {
  color: #8b8b8b;
  font-size: 0.875em;
  font-weight: 300;
  letter-spacing: 0;
}
.footer__wrapper.content__wrapper > div:nth-of-type(2) {
  letter-spacing: 0.2em;
}
.footer__link > a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
.br-480px {
  display: none;
}

@media screen and (max-width: 1400px) {
  .cuisines__item {
    width: 33.4%;
  }
}
@media screen and (max-width: 1200px) {
  .app__wrapper {
    justify-content: space-around;
  }
  .app__img {
    max-width: 400px;
  }
  .app__img > img {
    width: 100%;
  }
}
@media screen and (max-width: 1170px) {
  .list {
    padding: 60px 15px 55px;
  }
  .app {
    padding: 60px 20px 0;
  }
  .cuisines {
    padding: 60px 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .app__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .app__text {
    padding-top: 0;
  }
  .app__icons {
    text-align: center;
  }
}
@media screen and (max-width: 850px) {
  .cuisines__item {
    width: 40%;
  }
  .counter {
    padding: 30px 15px;
  }
  .counter__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .counter__wrapper > h3 {
    width: 35%;
    margin-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 20px 15px 210px;
  }
  .list__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .list__item:nth-of-type(2) {
    margin: 25px 0;
  }
  .cuisines__item {
    width: 50%;
  }
}
@media screen and (max-width: 730px) {
  .footer__wrapper > div {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 550px) {
  .header {
    background-position: center;
    padding: 20px 15px 110px;
  }
  .header__wrapper {
    font-size: 15px;
  }
  .header__top {
    position: relative;
    justify-content: center;
  }
  .header__top > img {
    max-width: 100px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 100px);
  }
  .header__middle > p:first-of-type {
    margin: 200px 0 15px;
  }
  .cuisines__item > p {
    font-size: 1.8rem;
  }
  .cuisines__item > span {
    font-size: 0.8rem;
  }
  .counter__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .counter__wrapper > h3 {
    width: 100%;
  }
  .footer__wrapper > div {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 480px) {
  .cuisines__items {
    flex-direction: column;
  }
  .cuisines__item {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .header__wrapper {
    font-size: 14px;
  }
  .br-480px {
    display: block;
  }
}
@media screen and (max-width: 390px) {
  .header__wrapper {
    font-size: 13px;
  }
  .footer__wrapper > div {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 350px) {
  .header__wrapper {
    font-size: 12px;
  }
  .header__middle > h1 {
    font-size: 6em;
  }
  .header__middle > p:first-of-type {
    font-size: 2em;
  }
}
@media screen and (max-width: 320px) {
}
